= form_for EntryPhoto.new, html: { multipart: true } do |f| 
  .form-group
    = f.file_field :photo, multiple: true, name: 'entry_photo[photo]'
    %span.error_text.format= t('errors.wrong_file_format')

%script#template-upload{ type: "text/x-tmpl"}
  %div.upload
    {%=o.name%}
    %div.progress
      %div.bar{style:"width: 0%"}
