// Place all the styles related to the venues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.template {
  display: none;
}
.photo {
  width: 200px;
  position: relative; 
}
.entry_photos .form-group .delete {
  background: no-repeat url('cancel_upload.png');
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  right: 0;
}
.entry_photos .field img {
  width: 200px;
}
.entry_photos .photo {
  width: 200px;
  position: relative;
  float: left;
  list-style: none;
  margin: 0 10px;
}
.add_sign {
  background: no-repeat url('002B-500x500.png');
  width: 200px;
  height: 200px;
  border: 1px solid grey;
  cursor: pointer;
}
